/* general styles */
html,
body {
    margin: 0;
}

/* html {
    height: 100%;
} */

form {
    padding: 20px 30px 20px 20px;
    margin-bottom: 30px;
    background-image: linear-gradient(0deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.8) 50%, rgba(252,176,69,0.8) 100%);
}

/* layout styles */
h1, 
p {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

/* small screens */
@media (max-width: 426px) {
    html {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    body {
        grid-column: 2 / -2;
    }

    html {
        background-image: linear-gradient(0deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%),
                          url(../images/tijs-van-leur-So6YckShOVA-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

/* large screens */
@media (min-width: 427px) {
    html {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
    }

    body {
        grid-column: 5 / -5;
    }

    html {
        background-image: linear-gradient(0deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%),
                          url(../images/anthony-delanoix-hzgs56Ze49s-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
/* typography styles */
body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* components styles */
.text-input {
    width: 100%;
    height: 30px;
    margin: 5px 0px 10px 0px;
}

#submit {
    background-color: rgb(252,176,69);
    border: none;
    color: white;
}

#status,
#features,
#submit {
    width: 101.25%;
    height: 40px;
    margin: 5px 0px 10px 0px;
}

.radio-group,
.checkbox-group,
.text-area-input {
    width: 100%;
    margin: 5px 0px 10px 0px;
}